.card {
  margin: unset;
  padding: 0.25rem 0.75rem;
  font-size: 0.75rem;
  aspect-ratio: 1;
  box-sizing: border-box;
  overflow: hidden;
  background-color: var(--nc-bg-2);
  color: var(--nc-tx-2);
  border-width: 0.5rem;
  border-top-style: solid;
  border-top-color: var(--nc-bg-3);
  box-shadow: 0 1px var(--nc-bg-3);
}

.card h2 {
  margin: unset;
  padding: unset;
  font-size: unset;
}

.card p {
  white-space: pre-wrap;
}
