.editor {
  padding: 0.75rem;
  font-size: 1rem;
  box-sizing: border-box;
  background-color: var(--nc-bg-2);
  color: var(--nc-tx-2);
  border-width: 0.75rem;
  border-top-style: solid;
  border-top-color: var(--nc-bg-3);
  box-shadow: 0 1px var(--nc-bg-3);
}

.editor :is(h1, h2, h3, h4, h5, h6) {
  padding: unset;
  font-size: 1.25rem;
}

.editor p {
  margin: unset;
}
