.editor {
  padding: 0.75rem;
  box-sizing: border-box;
  background-color: var(--nc-bg-2);
  color: var(--nc-tx-2);
  border-width: 0.75rem;
  border-top-style: solid;
  border-top-color: var(--nc-bg-3);
  box-shadow: 0 1px var(--nc-bg-3);
}

.editor .cm-editor.cm-focused {
  outline: unset;
}

.editor .cm-content {
  font-family: "sans-serif";
  font-size: 1rem;
}

.editor .cm-line {
  display: flex;
}

.editor .auto-link:hover {
  cursor: pointer;
}

.editor .auto-link {
  color: var(--nc-lk-1);
  text-decoration: underline;
}

.editor .auto-link:hover {
  color: var(--nc-lk-2);
  cursor: pointer;
}
