:root {
  font-size: 12px;
}

body {
  max-inline-size: 80rem;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

a[href^="/"] {
  text-decoration: none;
}

main * {
  line-height: 2;
}
