:root {
  font-size: 12px;
  --nc-font-sans: sans-serif;
  --nc-font-mono: monospace;
  --nc-lk-1: #1875d1;
  --nc-lk-2: #004a9f;
  --nc-ac-1: #f57f17;
  --nc-ac-tx: var(--nc-tx-1);
}

body {
  padding-inline: 1rem;
  max-inline-size: 80rem;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

header h1 > a,
header h1 > a:hover {
  color: var(--nc-ac-1);
}

a[href^="/"] {
  text-decoration: none;
}

main * {
  line-height: 2;
}
