:root {
  font-size: 14px;
  --nc-font-sans: sans-serif;
  --nc-font-mono: monospace;
  --nc-lk-1: #1875d1;
  --nc-lk-2: #004a9f;
  --nc-ac-1: #f57f17;
  --nc-ac-tx: var(--nc-tx-1);
}

@media (prefers-color-scheme: dark) {
  :root {
    --nc-lk-1: #66adff;
    --nc-lk-2: #a8caf0;
  }
}

body {
  padding-inline: 0.75rem;
  max-inline-size: 80rem;
}

header {
  padding-block: 1.25rem;
  margin-bottom: 0.75rem;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

header h1 {
  margin: 0;
  font-size: 1.85rem;
}

header h1 > :is(a, a:hover) {
  color: var(--nc-ac-1);
}

header nav > * {
  font-size: 1.25rem;
}

header nav > * + * {
  margin-inline-start: 0.75rem;
}

a[href^="/"] {
  text-decoration: none;
}

main * {
  line-height: 2;
}
